<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :organizations %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless organizations.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if organizations.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% organizations.each do |organization| %>
            <% with_attribute_settings object: organization do %>
              <tr data-id="<%= organization.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, organization] %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, organization %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, organization], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, organization %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, organization], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(organization)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == team %>
        <% if can? :create, Organization.new(team: team) %>
          <%= link_to t('.buttons.new'), [:new, :account, team, :organization], class: "#{first_button_primary(:organization)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:organization)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
