<% municipality = @municipality || @municipality %>
<% context ||= municipality %>
<% collection ||= :service_provider_hours %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless hours.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if hours.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% hours.each do |hour| %>
            <% with_attribute_settings object: hour do %>
              <tr data-id="<%= hour.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, hour] %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, hour %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, hour], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, hour %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, hour], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(hour)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == municipality %>
        <% if can? :create, ServiceProvider::Hour.new(municipality: municipality) %>
          <%= link_to t('.buttons.new'), [:new, :account, municipality, :service_provider_hour], class: "#{first_button_primary(:service_provider_hour)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:service_provider_hour)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
