<% organization = @organization || @organization %>
<% context ||= organization %>
<% collection ||= :municipalities %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless municipalities.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if municipalities.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <th><%= t('.fields.url.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% municipalities.each do |municipality| %>
            <% with_attribute_settings object: municipality do %>
              <tr data-id="<%= municipality.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, municipality] %></td>
                <td><%= render 'shared/attributes/text', attribute: :url %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, municipality %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, municipality], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, municipality %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, municipality], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(municipality)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == organization %>
        <% if can? :create, Municipality.new(organization: organization) %>
          <%= link_to t('.buttons.new'), [:new, :account, organization, :municipality], class: "#{first_button_primary(:municipality)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:municipality)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
